/* Tia Belliveau
January 1st, 2026 */

.goodDoggo {
    width: 80%;
    display: block;
    margin: auto;
    height: auto;
    border-radius: 12px;
}

.hero {
    height: 80vh;
    background-image: url('img/pexels-lum3n-44775-406014.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 60px 20px; */
    /* color: white;
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /*soft overlay*/
}