/* Tia Belliveau
January 1st, 2026 */

.goodDoggo {
    width: 80%;
    display: block;
    margin: auto;
    height: auto;
    border-radius: 12px;
}

.hero {
    min-height: 60vh;
    background-image: url('img/pexels-lum3n-44775-406014.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* padding: 60px 20px; */
    /* color: white;
    text-align: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    color: white;
    margin-bottom: 4rem;
}

.hero::before {
    content: "";
    /* position: absolute; */
    inset: 0;
    background: rgba(0, 0, 0, 0.35); /*soft overlay*/
}

.hero-content {
    /* position: relative; */
    text-align: center;
    color: black;
    max-width: 800px;
    padding: 1rem;
    margin-bottom: 10rem;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

.hero p {
    font-size: 1.25rem;
}



/* .hero .navbar-nav {
    display: flex;
    gap: 1rem;
}

.hero .nav-link {
    color: #333;
    font-weight: 500;
}

.hero .nav-link:hover {
    text-decoration: underline;
}  */

#meet-our-friends {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}