/* Tia Belliveau
January 1st, 2026 */


@media (max-width: 600px) {
    body {
      font-size: 1rem;
    }
  }

  nav ul {
    list-style-type: none;
    padding: 0;
  }

  div#navbarNav.collapse.navbar-collapse {
    justify-content: center;
  }

  
body {
    background-color: #c5d86d;
}