/* Tia Belliveau
January 1st, 2026 
Second Chance Paws */

.available-animals-section {
    padding: 2rem;
    background: rgba(255,255,255,0.15);
    border-radius: 8px;
    max-width: 900px;
    margin: 0 auto 4rem auto;
}

.available-animals {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.available-animals-section h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
}